/* @import "node_modules/bootstrap/less/forms.less";

// variables

@input-label-height: 20px;


/////////////////////////////////
// input-with-validation.hbs + input-autosave-(all)
/////////////////////////////////

.c-input-field {
  &:extend(.input-field);
  .input-gray-theme(1px 1px 1px 1px);
  .input-transition-states;
}

.input-group { // input + dropdown
  .c-input-field-pair {
    &:extend(.input-field);
    .input-gray-theme(1px 1px 1px 0px);
    .input-transition-states;
  }

  .c-dropdown {
    margin-left: -1px; // collapses border with input field
    margin-top: @input-label-height + 4px;
  }
}
.c-input-textarea {
  &:extend(.input-field);
  .input-gray-theme(1px 1px 1px 1px);
  .input-transition-states;
  height: auto !important;
}

.c-input-label {
  .c-t-small;
  height: @input-label-height;
  margin-bottom: 0;
}

.edit-mode {
  .c-input-label {
    display: none;
  }
}

// fixes for IE
input::-ms-clear { // remove default IE x icon
  display: none;
}
*/

.material-input-default {
  border-width: 0 0 1px 0;
  box-shadow: none;
  height: auto;
  padding: 8px 0;
  &:hover {
    border-color: @c-mtrl-blue-text;
  }
}
.operations {
  .c-input-field, .c-input-textarea {
    .material-input-default;
  }
  .c-input-group {
    position: relative;
    label.c-input-label {
      pointer-events: none;
      position: absolute;
      top: 10px;
      left: 8px;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left top;
      transition: transform 0.25s, width 0.25s;
      white-space: nowrap;
    }
  }
  .c-input-group-filled {
    label.c-input-label {
      top: 4px;
      -webkit-transform: translateY(-75%) scale(0.786);
      transform: translateY(-75%) scale(0.786);
      width: 133%;
    }
  }
  .c-input-field:focus, .c-input-textarea:focus {
    border-width: 0 0 2px 0;
    border-color: @c-mtrl-blue-text;
  }
  .c-input-group.c-input-active, .c-query-active {
    .c-input-field, .c-input-textarea {
      border-width: 0 0 2px 0;
      border-color: @c-mtrl-blue-text;
    }
    label.c-input-label {
      color: @c-mtrl-blue-text;
    }
    .c-help-text {
      margin-top: 5px;
    }
  }
  .c-input-group.error {
    .c-input-field, .c-input-textarea {
      border-color: @c-mtrl-red-text;
      border-width: 0 0 2px 0;
    }
    .c-help-text {
      color: @c-mtrl-red-text;
    }
    .c-help-text {
      margin-top: 5px;
    }
  }
}
.c-box-filter {
  padding: 24px 16px 8px;
  transition: all 0.5s;
  .row {
    margin: 0 0 0 0;
  }
  .c-t-note {
    transition: all 0.5s;
  }
  .input-group {
    position: relative;
    font-family: @sans-serif-font;
    label.c-input-label {
      pointer-events: none;
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left top;
      transition: transform 0.25s, width 0.25s;
      white-space: nowrap;
      height: auto;
    }
    &.c-input-group-filled {
      label.c-input-label {
        top: 4px;
        -webkit-transform: translateY(-75%) scale(0.786);
        transform: translateY(-75%) scale(0.786);
        width: 133%;
      }
    }
    .c-input-field {
      .material-input-default;
      background-color: transparent;
      transition: padding 0.5s;
    }
    &.c-input-active {
      .c-input-field {
        border-width: 0 0 2px 0;
        border-color: @c-mtrl-blue-text;
      }
      label.c-input-label {
        color: @c-mtrl-blue-text;
      }
    }
    &.error {
      .c-input-field {
        border-color: @c-mtrl-red-text;
        border-width: 0 0 2px 0;
      }
      label.c-input-label {
        color: @c-mtrl-red-text;
      }
    }
  }
}

.affix {
  .c-box-filter {
    padding: 8px 16px 16px;
    .c-input-field {
    }
    .c-t-note {
      font-size: 12px;
      opacity: 1;
    }
  }
}
